<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Student Registration Form</title>
</head>
<body>
    <h1>Student Registration Form</h1>
    <a href="/register">Register</a>
</body>
</html>