<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    <h1>Registration Page</h1>
    {{!-- <form action="/register" method="POST">
        <input type="text" placeholder="username" name="username"/><br/>
        <input type="email" placeholder="email"/ name="email"><br/>
        <input type="number" placeholder="Mobile Number" name="phone"/><br/>
        <input type="text" placeholder="address" name="addr"/><br/>
        <input type="submit" value="Register"/>
    </form> --}}

<div class="login-page">
  <div class="form">
    <form class="register-form" ction="/register" method="POST">
        <input type="text" placeholder="username" name="username"/><br/>
        <input type="email" placeholder="email"/ name="email"><br/>
        <input type="number" placeholder="Mobile Number" name="phone"/><br/>
        <input type="text" placeholder="address" name="addr"/><br/>
        <input class="button" type="submit" value="Register"/>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
  </div>
</div>




</body>
</html>